
<div class="row">
  <div class="span6 offset3">
    <div class="well">
      <p><%= @shot.description %></p>
      <%= link_to 'Edit', edit_shot_path(@shot) %> |
      <%= link_to 'Back', shots_path %>
    </div>
  </div>
</div>