<h1>About</h1>
<p><%= link_to "Dribbble Demo Project", "http://www.dribbble.com" %> is a rails project built by <%= link_to "Miguel Solorio", "http://www.miguelsolorio.com" %> using the One Month Rails curriculum.</p>