// $baseFontFamily: Montserrat;
$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: teal;

// @import url(http://fonts.googleapis.com/css?family=Montserrat);
@import 'bootstrap';

body{
  padding-top: 60px;
}

@import 'bootstrap-responsive';

.navbar-inner{
  @include box-shadow(none !important)
}

.hero-unit h1{
  margin-bottom: 10px;
}

.footer{
  margin-top: 60px;
  color: $grayLight;
  a {
    color: $gray;
  }
}

/* Required for jQuery Masonry */
#shots{
  overflow: auto;
}
.box{
  margin: 5px;
  padding: 5px;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  @include border-radius(5px);
  @include box-shadow(1px 1px 10px #444);
  width: 214px;

  img{
    display: block;
    width: 100%;
    @include border-radius(5px);
  }
}

.description{
  margin: 10px 0 5px;
}